* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 20px;
    font-family: 'Caveat', cursive;
    text-align: center;
    background-color: #ca8e52;
    width: 80vw;
    margin: 20px auto 0 auto;

}

img {
    max-width: ;
}

a {
    text-decoration: none;
}

/*navbar*/

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: ;
    background-color: #eee;
    text-align: center;
    display: table;
    font-size: 20px;
  }
  
  #header-nav li {
    border-bottom: 1px;
    font-size: 22.4px;
    line-height:25px;
  }

  #header-nav {
    display: table-cell;
    vertical-align: middle;
  }
  
  #header-nav a {
    text-decoration: none;
    display: block;
    color: #8F6930;
  }
  
  #header-nav a:hover {
    background-color: #fff;
    transition: background-color .3s ease-in-out;
  }
  
  #header-nav a.active {
    background-color: #8F6930;
    color: #eee;
  }

/*kampánykártya*/

.card {
    margin: 20px auto 20px auto;
    background: white;
    box-shadow: 0px 0px 25px  black;
    border-radius: 6px;
}

.cardpicture {
    width: 100%;
    max-height: ;
    border-radius: 5px;
}

.cardinfo {
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.452);
}

.card a {
  text-decoration: none;
}
  
  footer {
    display: table;
  }
  
  .wrapper {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Caveat', cursive;
    background-color:#a37b5b;
    width: 100vw;
    text-align: center;
    padding: 16px 20vw 16px 20vw;
    font-size: 14px;
    left: 0;
  }
  
  footer a {
    margin: 0px 8px;
    color:black;
    text-decoration: none;
    display: inline-block;
  }
  
  footer a:hover {
    color:rgba(68, 61, 61, 0.767);
    transition: .2s ease-in-out;
  }
  
  strong {
    font-weight: 700;
  }