* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Caveat', cursive;
    text-align: center;
    background-color: #ffe9d1;
    margin: 45px auto 0 auto;
    position: relative;
    font-size: 7vw;

}

a {
    text-decoration: none;
    color: black;
}

h1 {
  margin: 8vh auto 0 auto;
  font-size: 7vw;
  font-weight: bold;
  margin: auto 5vw auto 5vw;
}

@media (min-width: 700px) {
  h1 {
    font-size: 5vw;
  }
}

h2 {  
  font-weight: bold;
  font-size: 7vw;
  margin: 5vw auto 5vw auto;
  vertical-align: top;
}

h3 {
  font-weight: bold;
  font-size: 5vw;
  margin: 10px auto 10px auto;
}

h2::first-letter {

}

h4 {
  font-weight: bold;
  font-size: 30px;
}

/*navbar*/

header {
  }
  
#header-nav ul {
  font-size:0;
  width: 100%;
}

  #header-nav a {
    font-size: 25px;
    display: block;
    height: 45px;
    width: 100%;
    text-decoration: none;
    padding: 10px 0 10px 0;
    font-weight: bold;
  }

  #header-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    background-color: #c0916a;
    text-align: center;
    box-shadow:  0px 1px 10px  rgb(0, 0, 0);
    z-index: 1;
    display: table;
    width: 100%
  }

  #header-nav li {
    display: inline-block;
    width:33.333333333333333333333%;
  }
  
  #header-nav a:hover {
    background-color: #ffe9d1;
    transition: background-color .2s ease-in-out;
  }
  
  #header-nav .active {
    background-color: #8F6930;
  }

  #navbardiv {
    position: ;
    width: 100vw;
    height: .1px;
    margin-bottom: auto;
    background-color: black;
  }

/*szekciók formázása*/

.section1 {
  background-color: #c0916a79;
  padding: 10px 10vw 10px 10vw;
}

.sectionpicture {
  width: 100%;
  max-width: 1000px;
}

.section2 {
  margin: 0 auto auto auto;
}

/*kártya - főoldal*/

.card {
    background: white;
    box-shadow: 0px 0px 25px  black;
    border-radius: 20px;
    margin: 25px auto 25px auto;
    width: 80vw;
}

.cardpicture {
}

.cardpicture img{
  width:100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  max-width: 1000px;
}

.cardinfo {
    position: relative;
    padding: 0.5vw;
}

.card a {
  text-decoration: none;
}

.characters {
  margin-top: 25px;;
}

.charactericons img {
  width: 14vw;
  margin: 10px 0 10px 0;
}

@media (min-width: 700px) {
  .card {
  width: 90vw;
  font-size: 0;
  }

  .card div {
  font-size: 4vw;
  }

  .cardpicture {
    display: inline-block;
    width: 45vw;
    vertical-align: top;
  }

  .cardpicture img{
    width:100%;
    border-top-right-radius: 0;
  }

  .cardinfo {
    display: inline-block;
    width: 44vw;
    vertical-align: top;
    text-align: center;
    border-top-right-radius: 20px;
  }

  .charactericons img {
    width: 12vw;
    margin: 10px 0 10px 0;
  }

  .cardcontent {
    display: inline-block;
    width: 100%;
    font-size: 0;
    text-align: left;
  }

}

/*kártya - karakterek*/

.charactercard {
  background: white;
  box-shadow: 0px 0px 25px  black;
  border-radius: 20px;
  margin: 15vw auto auto auto;
  padding: 4vw;
  width: 80vw;
}

.characterpicture {
}

.characterpicture img{
  width: 100%;
  max-width: 1000px;
  }

.charactercard a {
text-decoration: none;
}

@media (min-width: 700px) {
  .charactercard {
    max-width: 325px;
    display: inline-block;
    margin: 20px;
    padding: 30px;
  }

  .charactercard h2 {
    font-size: 70px;
  }

  .charactergroup {
    display: inline-block;
    width: 95%;
  }
}


/*
@media (min-width: 700px) {
  .charactercard {
  width: 85vw;
  padding: 4vw;
  margin: 8vw auto auto auto;
  }

  .charactercard div {
  font-size: 4vw;
  }

  .characterpicture {
    display: inline-block;
    width: 35vw;
    vertical-align: top;
  }

  .characterpicture img{
    width:100%
  }

  .characterinfo {
    display: inline-block;
    width: 40vw;
    vertical-align: top;
    text-align: center;

  }

}
*/


/* Kártyák alján lévő táblázatok*/

table {
  margin: 10% auto auto auto;
  width: 95%;
}

table .left {
text-align: left;
font-weight: bold;
}

table .right {
text-align: right;
}

@media (min-width: 700px) {

  .cardinfo table {
    font-size: 3vw;
  }

  .characterinfo table {
    font-size: 35px;
  }
}


/*kaland aloldal*/


.adventuredescription {
  margin: auto;
  width: 80vw;
  font-size: 4.5vw;
}

.adventuredescription div {
  margin-top: 2vw;
  margin-bottom: 2vw;
}


/*footer*/


  footer {
    display: table;
    margin-top: 50px;
  }
  
  .wrapper {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Caveat', cursive;
    background-color:#c0916a94;
    width: 100vw;
    text-align: center;
    padding: 5px 20vw 5px 20vw;
    font-size: 10px;
    left: 0;
  }
  
  footer a {
    color:black;
    text-decoration: none;
    display: inline-block;
  }
  
  footer a:hover {
    color:rgba(68, 61, 61, 0.767);
    transition: .2s ease-in-out;
  }
  
  strong {
    font-weight: 700;
  }

  .footer-nav {
    display: none;
  }