* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 25px;
    font-family: 'Caveat', cursive;
    text-align: center;
    background-color: #ffe9d1;
    width: 80vw;
    margin: 100px auto 0 auto;

}

img {
    max-width: ;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
  font-size: 45px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  margin: 10px auto 10px auto;
}

h2::first-letter {

}

h3 {
  font-weight: bold;
  font-size: 30px;
}

/*navbar*/

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 55px;
    background-color: #eee;
    text-align: center;
    font-size: 20px;
  }
  
#header-nav ul {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

  #header-nav a {
    font-size: 35px;
    line-height:25px;
    display: inline-block;
    width: 32vw;
    position: ;
    text-decoration: none;
    padding: 10px 0 10px 0;
    width: 32.5vw;
    height: 55px;
    font-weight: bold;
  }

  #header-nav {
    display: table;
    width: 100%
  }

  #header-nav li {
    display: inline-block;
  }
  
  #header-nav a:hover {
    background-color: #fff;
    transition: background-color .2s ease-in-out;
  }
  
  #header-nav .active {
    background-color: #8F6930;
    color: #eee;
  }

/*kártya*/

.card {
    margin: 20px auto 20px auto;
    background: white;
    box-shadow: 0px 0px 25px  black;
    border-radius: 6px;
}

.cardpicture {
    width: 100%;
    max-height: ;
    border-radius: ;
}

.cardinfo {
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.452);
}

.card a {
  text-decoration: none;
}
  
.charactericons img {
  width: 14vw;
  margin: 10px 0 10px 0;
}

.characters {
  margin-top: 25px;;
}





  footer {
    display: table;
    margin-top: 50px;
  }
  
  .wrapper {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Caveat', cursive;
    background-color:#a37b5b;
    width: 100vw;
    text-align: center;
    padding: 16px 20vw 16px 20vw;
    font-size: 14px;
    left: 0;
  }
  
  footer a {
    margin: 0px 8px;
    color:black;
    text-decoration: none;
    display: inline-block;
  }
  
  footer a:hover {
    color:rgba(68, 61, 61, 0.767);
    transition: .2s ease-in-out;
  }
  
  strong {
    font-weight: 700;
  }

  .footer-nav {
    display: none;
  }